<footer>
  <ul>
    <li>[+34] 689920017<span>|</span></li> 
    <li><a href="mailto:carlos@sntmt.com" target="_blank">carlos@sntmt.com</a><span>|</span></li> 
    <li><a href="https://www.linkedin.com/in/sntmt/" target="_blank" rel="noreferrer">Linkedin</a></li>
  </ul>
</footer>