<main>
  <aside>
    <header>
    </header>
    <h3>October 2020 - actual </h3>
    <p>
      Backend developer Nodejs<br />
      El Corte Inglés
    </p>
    <h3>August 2019 - Oct. 2020</h3>
    <p>
      Backend developer Nodejs<br />
      RTVE
    </p>
    <h3>January 2018 - April 219</h3>
    <p>
      UI / UX designer<br />
      Finnventures
    </p>

    <h3>January 2017 - June 2019</h3>
    <p>
      Founder / Fullstack Developer<br />
      Escaleta
    </p>
    <h3>From 2000 - 2017</h3>
    <p>
      Art direction<br />
      Senior Graphic Designer and Compositor<br />
      <a href="">List of works and companies</a>
    </p>
    <h3>Good for</h3>
    <p>
      Creative & Art Direction<br />
      Backend Nodejs apis and microservices<br />
      Dynamic interfaces
    </p>
  </aside>
  <article>
    <header>
      <h1>Carlos Santos Mateo</h1>
      <h2>Full Stack Web Developer* / Designer</h2>
    </header>
    <p>
      I’m passionate about exploring digital and physical spaces, and the impact that design can have on people,
      communities, and businesses.
    </p>
    <p>
      I’ve worked at Bench for the past three and a half years helping build the future of small business finance. I
      invested myself in more than producing work, but into helping shape how we think of, and build for, the people
      behind small businesses.
    </p>
    <p>
      In that time, I’ve learned an exceptional amount about building products, growing a company, and working with
      people. A lot of my work highlights my time and experience building products at Bench.
    </p>
    <svg height="200" width="200">
      <line x1="0" y1="200" x2="100%" y2="0" style="stroke:black;stroke-width:1" />
    </svg>
  </article>
</main>